/* ==========================================================================
   Mixin for vertical aligning content
   ========================================================================== */

@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}