/* ==========================================================================
   Mixin for typography styles
   ========================================================================== */

@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");

@mixin font-extralight {
  font-family: $font-family-base;
  font-weight: 200;
}

@mixin font-light {
  font-family: $font-family-base;
  font-weight: 300;
}

@mixin font-normal {
  font-family: $font-family-base;
  font-weight: 400;
}

@mixin font-semibold {
  font-family: $font-family-base;
  font-weight: 600;
}

@mixin font-bold {
  font-family: $font-family-base;
  font-weight: 700;
}

@mixin font-ultrabold {
  font-family: $font-family-base;
  font-weight: 900;
}