//
// Variables
// --------------------------------------------------

// Colors
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              lighten($gray-base, 20%);
$gray:                   lighten($gray-base, 33.5%);
$gray-light:             lighten($gray-base, 46.7%);
$gray-lighter:           lighten($gray-base, 93.5%);

$brand-primary:            #ec2327;
$brand-secondary:          #808080;

$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

//** Background color for `<body>`.
$body-bg:               #000;
//** Global text color on `<body>`.
$text-color:            #f9f9f9;

//** Global textual link color.
 $link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
 $link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
 $link-hover-decoration: underline;

//== Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Source Sans Pro', sans-serif;
// $font-family-serif:       "Intro-Book", "Georgia", "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
// $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace
$font-family-base:        $font-family-sans-serif;

$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px
$font-size-smaller:       ceil(($font-size-base * 0.80)); // ~10px

$font-size-h1:            floor(($font-size-base * 4)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.4)); // ~30px
$font-size-h3:            ceil(($font-size-base * 2)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.5)); // ~18px

// $font-size-h5:            $font-size-base
// $font-size-h6:            ceil(($font-size-base * 0.85)) // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.5;

$border-s:       1px;
$border-m:		  $border-s * 2;
$border-l:			$border-s * 4;

$radius-s:      1px;
$radius-m:		  $radius-s * 2;
$radius-l:			$radius-s * 4;
$radius-full:    50%;

//== Grid system
//
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px;

$distance:                  $grid-gutter-width / 2;

$distance-xs:               $distance / 4;
$distance-s:                $distance / 2;
$distance-m:                $distance;
$distance-l:                $distance * 2;
$distance-xl:               $distance * 4;
$distance-xxl:              $distance * 8;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;

// Social media colors
$facebook-color:                #3f5d93;
$twitter-color:                 #57BFF7;
$google-color:                  #bd2f1f;
$linkedin-color:                #1970AE;
$pinterest-color:               #bd081c;