/* ==========================================================================
   Variables
   ========================================================================== */

// Colors
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              lighten($gray-base, 20%);
$gray:                   lighten($gray-base, 33.5%);
$gray-light:             lighten($gray-base, 46.7%);
$gray-lighter:           lighten($gray-base, 93.5%);

$brand-primary:            #ec2327;
$brand-secondary:          #808080;

$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

//** Background color for `<body>`.
$body-bg:               #000;
//** Global text color on `<body>`.
$text-color:            #f9f9f9;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;

//== Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Source Sans Pro', sans-serif;
// $font-family-serif:       "Intro-Book", "Georgia", "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
// $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace
$font-family-base:        $font-family-sans-serif;

$font-size-base:          16px;
$font-size-larger:        ceil(($font-size-base * 1.30)); // ~21px
$font-size-large:         ceil(($font-size-base * 1.25)); // ~20px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~14px
$font-size-smaller:       ceil(($font-size-base * 0.80)); // ~12px

$font-size-h1:            floor(($font-size-base * 4)); // ~64px
$font-size-h2:            floor(($font-size-base * 2.4)); // ~38px
$font-size-h3:            ceil(($font-size-base * 2)); // ~32px
$font-size-h4:            ceil(($font-size-base * 1.5)); // ~24px

// $font-size-h5:            $font-size-base
// $font-size-h6:            ceil(($font-size-base * 0.85)) // ~14px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.5;

$border-s:       1px;
$border-m:		  $border-s * 2;
$border-l:			$border-s * 4;

$radius-s:      1px;
$radius-m:		  $radius-s * 2;
$radius-l:			$radius-s * 4;
$radius-full:    50%;

/**
 * Grid setup
 *
 * The grid will calculate dimensions based on these two variables
 * $fg-columns will inform the grid loops how many columns there should be.
 * $fg-gutter will inform the grid loops how big eac column's gutters should be.
 */
$fg-columns: 12 !default;
$fg-gutter: 30px !default;

/**
 * Break point namespace object
 *
 * Set the default namespace object with these defaults with the
 * understanding that you can pass in whatever you might require for your site.
 *
 * $fg-breakpoints is a Sass list with nested lists inside. Each sub list defines two things.
 * 1. The namespace for that breakpoint. (Required) (i.e. xs, sm, md, lg)
 * 2. The min-width measurement for the breakpoint for that namespace. (i.e. 48em, 62em, 75em)
 *
 * Note: These should be in the proper order (at least till libsass handles map keys properly).
 *
 * Note: If the measurement is left out then it will be skipped when generating
 * the grid and applied to global styles.
 *
 */

$fg-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px
) !default;

$distance:                  $fg-gutter / 2;
$distance-xs:               $distance / 4;
$distance-s:                $distance / 2;
$distance-m:                $distance;
$distance-l:                $distance * 2;
$distance-xl:               $distance * 4;
$distance-xxl:              $distance * 8;