/* ==========================================================================
   Box
   ========================================================================== */

.box {
  flex-basis: 100%;
  position: relative;
  margin-top: $fg-gutter;

  background: #383838 no-repeat center center;
  background-size: cover;

  &__header {
    @include font-semibold;

    padding-bottom: 20px;
    margin: 0 0 20px;
    text-transform: uppercase;
    line-height: 1.2;
    position: relative;
    font-size: 36px;

    &:after {
      content: "";
      background: rgba(#fff, 0.4);
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 50%;
    }
  }

  &__content {
    background: inherit; // same as box bg color
    padding: $distance-l;
    font-size: 18px;
    line-height: 1.5;

    &__awards {
      .box__value {
        @include font-bold;

        font-size: $font-size-h1;
      }

      span {
        @include font-semibold;

        font-size: 26px;
      }
    }

    &__currency {
      .box__subtitle {
        @include font-normal;

        font-size: 22px;
        line-height: 1.3;
        text-transform: uppercase;
        color: #fff;
      }
      .box__value {
        @include font-semibold;

        font-size: 45px;
      }
    }
  }

  &__subtitle {
    @include font-normal;

    color: #aaa;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: $font-size-small;
    line-height: 1.5;

    &:first-of-type {
      margin-top: 0;
    }

    + .box__value {
      margin: 10px 0;
    }
  }

  &__value {
    @include font-bold;

    line-height: 1;
    margin: 0;
  }

  &__footer {
    margin-top: $fg-gutter;
  }

  &.box--primary {
    background: $brand-primary;
  }

  &.box--secondary {
    background: #161616;
  }

  &.box--tertiary {
    background: #222;
  }

  &.bubble--right {
    @include respond-to(md) {
      &:after {
        position: absolute;
        content: '';
        top: $fg-gutter;
        right: -10px;
        width: $fg-gutter;
        height: $fg-gutter;
        z-index: -1;
        background: inherit; // same as box bg color
        transform: rotate(45deg);
      }
    }
  }

  &.bubble--left {
    &:after {
      @extend .bubble--right;
      left: -10px;
      right: auto;
    }

    .box__header:after {
      left: auto;
      right: 0;
    }
  }
}