/* ==========================================================================
   Box
   ========================================================================== */

.box {
  flex-basis: 100%;
  margin-top: $fg-gutter;
  background: #383838;
  position: relative;

  &__header {
    padding-bottom: $fg-gutter / 2;
    margin: 0 0 $fg-gutter / 2;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(#fff, 0.4);
  }

  &__content {
    background: inherit; // same as box bg color
    padding: $fg-gutter / 2;
  }

  &__subtitle {
    color: #aaa;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: $font-size-base;

    &:first-of-type {
      margin-top: 0;
    }

    + .box__value {
      margin: 10px 0;
    }
  }

  &__value {
    @include font-bold;
    line-height: 1;
    margin: 0;
  }

  &__footer {
    margin-top: $fg-gutter;
  }

  &.box--primary {
    background: $brand-primary;
  }

  &.box--secondary {
    background: #161616;
  }

  &.box--tertiary {
    background: #222;
  }

  &.bubble-right {
    @include respond-to(md) {
      &:after {
        position: absolute;
        content: '';
        top: $fg-gutter;
        right: -10px;
        width: $fg-gutter;
        height: $fg-gutter;
        z-index: -1;
        background: inherit; // same as box bg color
        transform: rotate(45deg);
      }
    }
  }

  &.bubble-left {
    &:after {
      @extend .bubble-right;
      left: -10px;
      right: auto;
    }
  }
}