.btn {
  @include font-bold;

  border: $border-s solid #fff;
  outline: 0;
  font-size: 1em;
  padding: 10px 25px;
  border-radius: $radius-m;
  display: inline-block;
  background: none;

  &.btn--primary {
    color: #fff;
    background: $brand-primary;
    border: 0;
  }

  &.btn--secondary {
    font-weight: normal;
  }

  .btn-group & {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}