/* ==========================================================================
   Button
   ========================================================================== */

.btn {
  @include font-normal;
  @include transition-property(all);
  @include transition-duration(0.4s);
  @include ellipsis;

  display: inline-block;
  border: $border-s solid rgba(#fff, 0.4);
  border-radius: $radius-m;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: $font-size-base;
  color: #fff;
  padding: 0 $distance-l;
  margin: 0;
  background: transparent;

  i {
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;

    img {
      width: 18px;
      height: 18px;
      vertical-align: middle;
      margin-top: -9px;
      display: inline-block;
      margin-right: 4px;
    }
  }

  &:hover {
    background: rgba(#fff, 0.2);
    text-decoration: inherit;
    color: inherit;
  }

  &:focus {
    outline: 0;
  }

  &--label {
    @include font-light;

    height: 30px;
    line-height: 30px;
    font-size: $font-size-smaller;
    text-transform: none;
    padding: 0 $distance-m;

    &:hover {
      background: transparent;
    }
  }

  &--small {
    height: 45px;
    line-height: 45px;
    font-size: $font-size-small;
    padding: 0 $distance-m;

    i {
      font-size: $font-size-small;
      margin-right: 6px;
    }
  }

  &--fluid {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .btn-group & {
    box-sizing: border-box;
    display: block;
    width: 100%; // http://stackoverflow.com/questions/9699039/button-with-displayblock-not-stretched
    margin-top: $distance-m;

    @include respond-to(sm) {
      display: inline-block;
      margin-top: 0;
      margin-right: $distance-m;
      width: auto;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .btn-group--more-spacing & {
    margin-right: $distance-l;
  }

}