.btn {
  @include font-normal;
  @include transition-property(all);
  @include transition-duration(0.4s);

  display: inline-block;
  border: $border-s solid rgba(#fff, 0.4);
  border-radius: $radius-m;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: $font-size-base;
  color: #fff;
  padding: 0 $distance-l;
  margin: 0;
  background: transparent;

  i {
    margin-right: 10px;
    font-size: 18px;
  }

  &:hover {
    background: rgba(#fff, 0.2);
    text-decoration: inherit;
    color: inherit;
  }

  &:focus {
    outline: 0;
  }

  &.btn--primary {
  }

  &.btn--secondary {
  }

  .btn--group & {
    display: block;
    width: 100%; // http://stackoverflow.com/questions/9699039/button-with-displayblock-not-stretched
    margin-top: $distance-m;

    @include respond-to(sm) {
      display: inline-block;
      margin-top: 0;
      margin-right: $distance-m;
      width: auto;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}