.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: $brand-primary;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 60%;
  }
}