.search-box {
  @include center-content;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  form {
    position: relative;
    width: 600px;
    text-align: center;
  }

  .btn {
    margin-top: 25px;
  }

  &__input {

    position: relative;
    width: 100%;
    height: 70px;
    background: transparent;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;

    &.ng-enter-active {
      @extend .bounceIn;
    }
    &.ng-leave-active {
      @extend .bounceOut;
    }

    input, button {
      background: none;
      border: 0;
      padding: 0;
      margin: 0;
      height: 70px;
      line-height: 70px;

      &:focus {
        outline: 0;
      }
    }

    input {
      @include font-bold;
      width: 100%;
      text-align: center;
      font-size: 36px;

      @include placeholder {
        @include font-light;
        color: rgba(#fff, 0.4);
        font-size: 36px;
      }
    }

    button {
      @include font-light;
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      width: auto;
      height: auto;
      font-size: 60px;
    }
  }
}