.still {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.4);
  }

  &__credits {
    position: absolute;
    bottom: $distance-xl;
    left: $distance-l;

    @include respond-to(sm) {
      bottom: $distance-l;
    }

    &__label {
      @include font-semibold;
      text-transform: uppercase;
      font-size: $font-size-base;
      color: #6b6b6b;
      margin-bottom: $distance-xs;
    }

    &__title {
      font-size: $font-size-h2;
      line-height: 1;

      span {
        font-size: $font-size-base;
        margin-left: $distance-xs;
        vertical-align: middle;
      }
    }
  }
}