/* ==========================================================================
   Background still
   ========================================================================== */

.still {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: inherit;
    background-size: cover;
    background-position: center center;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.4);
  }

  &__credits {
    margin-top: $distance-l;
    margin-bottom: $distance-m;
    text-align: center;
    position: relative;

    @include respond-to(sm) {
      margin: 0;
      position: absolute;
      bottom: $distance-l;
      left: $distance-l;
      text-align: left;
    }

    &__label {
      @include font-semibold;
      text-transform: uppercase;
      font-size: $font-size-base;
      color: #6b6b6b;
      margin-bottom: $distance-xs;
    }

    &__title {
      font-size: $font-size-h2;
      line-height: 1;

      span {
        font-size: $font-size-base;
        margin-left: $distance-xs;
        vertical-align: middle;
      }
    }
  }
}