<div class="movie">
  <div class="movie__backdrop" style="background-image: url({{vm.tmdb_backdrop_url}})"></div>
  <div class="container">
    <div class="movie__header">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8">
          <div class="movie__title">
            <h1>{{vm.title}}</h1>
            <span>({{vm.release_year}})</span>
          </div>
          <div class="movie__subheader">
            <div class="btn btn--label f-left">{{vm.certification}}</div>
            <p>Directed by <span>{{vm.directors.join(',')}}</span></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4">
          <div class="movie__rating">
            <ul class="rating-list" ng-show="vm.ratings">
                <li class="rating-list__item" ng-class="{active:isActive($index)}" ng-mouseover="selectRating($index)" ng-repeat="rating in vm.ratings">
                  <span class="rating-list__label">
                    {{rating.name}} &dash; {{rating.votes|number}} votes
                  </span>
                  <div class="rating-list__bar">
                    <div class="rating-list__bar__fill" style="width: {{rating.rating_calculate || 0}}%">
                      <span class="visuallyhidden">{{rating.rating_calculate}}%</span>
                    </div>
                  </div>
                </li>
            </ul>
            <div class="rating-donut">
              <span class="rating-donut__value">{{vm.ratings[vm.activeRating].rating || ''}}</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="rating-donut__canvas">
                <g>
                  <circle class="rating-donut__base"></circle>
                  <circle id="js-donut" class="rating-donut__fill" stroke-dashoffset="{{vm.ratingCircumfence}}"></circle>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-lg-2">
        <div class="movie__poster">
          <img src="{{vm.tmdb_poster_url}}">
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 col-lg-10">
        <div class="movie__overview">
          <p class="movie__tagline">{{vm.tagline}}</p>
          <p class="movie__plot">{{vm.plot}}</p>
          <div class="row center">
            <div class="col-xs-12 col-sm-6">
              <div class="movie__details">
                <strong>Runtime</strong> {{vm.runtime}} minutes
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
              <h3 class="visuallyhidden" ng-if="vm.genres">Genres</h3>
              <div class="btn-group" ng-if="vm.genres">
                <div class="btn btn--label" ng-repeat="genre in vm.genres">{{genre}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3 stretch">
        <div class="box box--secondary">
          <div class="box__content">
            <h2 class="box__header">Cast &amp; Crew</h2>
            <h3 class="box__subtitle">Directors</h3>
            {{vm.directors.join(', ')}}
            <h3 class="box__subtitle">Writers</h3>
            {{vm.writers.join(', ')}}

            <div class="box__footer" ng-if="vm.imdb_url">
              <a class="btn btn--small btn--fluid" href="{{vm.imdb_url}}/fullcredits"><i class="icon-link-ext"></i>See full cast &amp; crew</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-md-3 stretch" ng-repeat="actor in vm.actors">
        <div class="box" style="background-image: url({{actor.image || '/images/joker.jpg'}});">
          <div class="movie__castitem">
            <img alt="{{actor.name}}" class="invisible" src="{{actor.image || '/images/joker.jpg'}}">
            <div class="movie__castitem__overlay">
              <div class="movie__castitem__name">
                <strong>{{actor.name}}</strong>
                <br> as {{actor.character || '-'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-md-6 stretch">
            <div class="box box--primary">
              <div class="box__content">
                <h2 class="box__header">Release date</h2>
                {{vm.release_date}}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 stretch visible-md">
            <div class="box bubble--right">
              <div class="box__content">
                <h2 class="box__header">Movie trailer</h2>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 stretch">
            <div class="box box--tertiary">
              <div class="box__content">
                <h2 class="box__header">Countries</h2>
                {{vm.f}}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 stretch">
            <div class="box box--secondary">
              <div class="box__content">
                <h2 class="box__header">Languages</h2>
                {{vm.languages}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 stretch">
        <div class="box box--secondary">
          <div class="box__content">
            <div class="fluid-video">
              <iframe src="{{vm.trailer_url}}"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-9">
        <div class="row">
          <div class="col-xs-6 col-sm-4 stretch">
            <div class="box text-center">
              <div class="box__content">
                <div class="box__value">{{vm.oscars}}</div>
                <h3 class="box__label">oscars</h3>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 stretch">
            <div class="box box--primary text-center">
              <div class="box__content">
                <div class="box__value">{{vm.wins}}</div>
                <h3 class="box__label">wins</h3>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 stretch">
            <div class="box box--secondary text-center">
              <div class="box__content">
                <div class="box__value">{{vm.nominations}}</div>
                <h3 class="box__label">nomina&shy;tions</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="box box--secondary text-center">
              <div class="box__content">
                <h3 class="box__label box__label--alternate">Budget</h3>
                <div class="box__value box__value--alternate">{{vm.budget}}</div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box--tertiary text-center">
              <div class="box__content">
                <h3 class="box__label box__label--alternate">Revenue</h3>
                <div class="box__value box__value--alternate">{{vm.revenue}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-3 stretch visible-lg">
        <div class="box bubble--left text-right">
          <div class="box__content">
            <h2 class="box__header">Awards &amp; Prices</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="movie__footer">
         <h3>More information</h3>
          <div class="btn-group btn-group--more-spacing">
            <a class="btn btn--small" href="{{vm.imdb_url}}" target="_blank" ng-if="vm.imdb_url"><i class="icon-link-ext"></i>More details at IMDb</a>
            <a class="btn btn--small" href="{{vm.letterboxd_url}}" target="_blank" ng-if="vm.letterboxd_url"><i class="icon-link-ext"></i>More details at Letterboxd</a>
            <a class="btn btn--small" href="{{vm.tmdb_url}}" target="_blank" ng-if="vm.tmdb_url"><i class="icon-link-ext"></i>More details at TMDb</a>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="movie__backdrop movie__backdrop--footer" style="background-image: url({{vm.tmdb_backdrop_url}})"></div>
</div>