<div class="movie">
  <div class="movie__backdrop" style="background-image: url({{vm.tmdb_backdrop_url}})"></div>
  <div class="container">
    <div class="movie__header">
      <div class="row center">
        <div class="col-xs-12 col-md-6">
          <div class="movie__title">
            <h1>{{vm.title}}</h1>
            <div class="h3">{{vm.release_year}}</div>
          </div>
          <div class="movie__subheader">
            <button class="btn">{{vm.certification}}</button>
            <p>Directed by {{vm.director || '-'}}</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="movie__rating">
            <div class="rating-list" ng-show="vm.ratings">
              <ul class="list-unstyled">
                <li class="rating-list__item" ng-class="{active:isActive($index)}" ng-mouseover="selectRating(rating.rating, $index)" ng-repeat="rating in vm.ratings">
                  <span class="rating-list__label">
                    {{rating.name}} &dash; {{rating.num|number}} votes
                  </span>
                  <div class="rating-list__bar">
                    <div class="rating-list__bar__fill" style="width: {{rating.rating}}%">
                      <span class="visuallyhidden">{{rating.rating}}%</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="rating-circle" data-progress="{{vm.ratings[activeRating].rating}}">
              <div class="circle">
                <div class="mask full">
                  <div class="fill">
                  </div>
                </div>
                <div class="mask half">
                  <div class="fill">
                  </div>
                  <div class="fill fix">
                  </div>
                </div>
              </div>
              <div class="inset">
                <div class="percentage">
                  {{vm.ratings[activeRating].rating/10}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-lg-2">
        <div class="movie__poster">
          <img src="{{vm.tmdb_poster_url}}">
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 col-lg-10">
        <div class="movie__overview">
          <p class="movie__tagline">{{vm.tagline}}</p>
          <p class="movie__plot">{{vm.plot}}</p>
          <div class="row center">
            <div class="col-xs-12 col-sm-6">
              <div class="movie__details">
                <strong>Runtime</strong> {{vm.runtime}} minutes
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
              <h3 class="visuallyhidden" ng-if="vm.genres">Genres</h3>
              <div class="btn--group" ng-if="vm.genres">
                <button class="btn" ng-repeat="genre in vm.genres">{{genre.title}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3 stretch">
        <div class="box box--secondary">
          <div class="box__content">
            <h2 class="box__header">
              Cast &amp; Crew
            </h2>
            <h3 class="box__subtitle">
              Director
            </h3>
            {{vm.director || '-'}}
            <h3 class="box__subtitle">
              Writer
            </h3>
            {{vm.writer || '-'}}

            <div class="box__footer" ng-if="vm.imdb_url">
              <a class="btn" href="{{vm.imdb_url}}/fullcredits">
                See full cast &amp; crew
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-md-3" ng-repeat="role in vm.movie_roles|limitTo:3">
        <div class="box">
          <div class="castitem">
            <img src="{{role.person.tmdb_profile_url || 'https://goatmilk.files.wordpress.com/2008/07/batman2_narrowweb__300x4506.jpg'}}">
            <div class="castitem__overlay">
              <div class="castitem__name">
                <strong>
                  {{role.person.name}}
                </strong>
                <br> as {{role.character}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-md-6 stretch">
            <div class="box box--primary">
              <div class="box__content">
                <h2 class="box__header">
                  Release Date
                </h2>
                {{vm.release_date}}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 stretch visible-md">
            <div class="box bubble-right">
              <div class="box__content">
                <h2 class="box__header">
                  Movie trailer
                </h2>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 stretch">
            <div class="box box--tertiary">
              <div class="box__content">
                <h2 class="box__header">
                  Country
                </h2>
                <span ng-repeat="country in vm.countries">{{country.title}}<br></span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 stretch">
            <div class="box box--secondary">
              <div class="box__content">
                <h2 class="box__header">
                  Languages
                </h2>
                <span ng-repeat="language in vm.languages">
                  {{language.code}}
                  <span ng-if="!$last">, </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 stretch">
        <div class="box box--secondary">
          <div class="box__content">
            <div class="fluid-video">
              <iframe src="{{vm.trailer_url}}"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-9">
        <div class="row">
          <div class="col-xs-4 stretch">
            <div class="box text-center">
              <div class="box__content">
                <div class="box__value h1">
                {{vm.oscars || 0}}
                </div>
                <span class="h4">
                  oscars
                </span>
              </div>
            </div>
          </div>
          <div class="col-xs-4 stretch">
            <div class="box box--primary text-center">
              <div class="box__content">
                <div class="box__value h1">
                {{vm.wins || 0}}
                </div>
                <span class="h4">
                  wins
                </span>
              </div>
            </div>
          </div>
          <div class="col-xs-4 stretch">
            <div class="box box--secondary text-center">
              <div class="box__content">
                <div class="box__value h1">
                {{vm.nominations || 0}}
                </div>
                <span class="h4">
                  nomina&shy;tions
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="box box--secondary text-center">
              <div class="box__content">
                <h4 class="box__subtitle">
                  Budget
                </h4>
                <div class="box__value h2">
                  {{vm.budget|currency}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box--tertiary text-center">
              <div class="box__content">
                <h4 class="box__subtitle">
                  Revenue
                </h4>
                <div class="box__value h2">
                  {{vm.revenue|currency}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-3 stretch visible-lg">
        <div class="box bubble-left text-right">
          <div class="box__content">
            <h2 class="box__header">
              Awards &amp; Prices

            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="movie__footer">
         <h3>More information</h3>
          <div class="btn--group">
            <a class="btn" href="{{vm.imdb_url}}" ng-if="vm.imdb_url">
              More details at IMDb
            </a>
            <a class="btn" href="{{vm.letterboxd_url}}" ng-if="vm.letterboxd_url">
              More details at Letterboxd
            </a>
            <a class="btn" href="{{vm.tmdb_url}}" ng-if="vm.tmdb_url">
              More details at TMDb
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>