<div class="search-box" ng-init="addUsernameField()">
  <form class="center-block">
    <div ng-repeat="username in usernames track by $index" class="animated bounceIn">
      <div class="form-group">
        <input ng-model="usernames[$index]" class="form-control" placeholder="Letterboxd username" focused-on="last">
        <button class="btn btn-remove" ng-click="remove($index)" ng-if="usernames.length > 1">-</button>
      </div>
    </div>
    <div class="form-group">
      <button class="btn" ng-click="addUsernameField()" ng-if="usernames.length < 4">+</button>
    </div>
    <input type="submit" class="btn btn-primary" value="Give me advice">
  </form>
</div>